<% provide(:title, t(:login)) %>
<h1><%= t(:login) %></h1>
<% flash.each do |name, msg| -%>
	<%= content_tag :div, msg, class: name %>
<% end -%>
<div id="login_form">
	<%= form_tag sessions_path do %>
		<%= label_tag "session_email", t(:form_user_email) %>
		<%= text_field "session", "email" %>

		<%= label_tag "session_password", t(:form_user_password) %>
		<%= password_field "session", "password" %>

		<%= submit_tag t(:login_button), class: "btn btn-large btn-primary" %>
	<% end %>
	<%= link_to t(:recover_password), new_password_reset_url %>
</div>